<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias Talento Tech</title>
    <link rel="stylesheet" href="../public/style_agradecimiento.css">
</head>

<body>
    <div class="menu">
        <a href="./index.html">Inicio</a>
        <a href="./habitaciones.html">Habitaciones</a>
        <a href="./servicios.html">Servicios</a>
        <a href="./contacto.html">Contacto</a>
        <a href="./signIn.html">Reserva</a>
        <a href="#contenedor">Agradecimientos</a>
      </div>
    
      <div id="inicio" class="inicio">
        <h1>AGRADECIMIENTOS</h1>
      </div>
      <div id="caracteristicas" class="caracteristicas">
        <p><img src="../images/todo-incluido.png" class="icon" />Todo incluido</p>
        <p><img src="../images/focos.png" class="icon" />Shows Nocturnos</p>
        <p><img src="../images/nadando.png" class="icon" />Piscina</p>
        <p>
          <img src="../images/puesta-de-sol.png" class="icon" />Habitaciones vista
          al mar
        </p>
      </div>
    
    
    <p></p>
    <div class="contenedor" id="contenedor">


        <div id="gallery">

        </div>

        <div class="texto">
            <H2>INTEGRANTES</H2>
            <ul>
                <li>
                    Victor Hurtado
                </li>
                <li>
                    Carlos Padilla
                </li>
                <li>
                    Cristian Mendoza
                </li>
                <li>
                    Marco Mojica
                </li>
                <li>
                    Jorge Gaviria
                </li>
                <li>
                    Vince Mojica
                </li>
                <li>
                    Miguel García
                </li>
            </ul>
            <P>Quiero tomar un momento para expresar mi más profundo agradecimiento al profesor Juan Carlos, a Lorena y
                a cada uno de ustedes. <br>

                A lo largo de este tiempo, he tenido que enfrentar el desafío de compaginar mis responsabilidades
                laborales, manejando mi camión, con mis compromisos aquí en Talento Tech. Su comprensión y apoyo cada
                vez que llegaba tarde han sido invaluables. <br>

                A mis compañeros, gracias por su paciencia y por estar siempre dispuestos a ayudarme y cubrir por mí
                cuando más lo necesitaba. Su compañerismo y amistad han hecho que cada día aquí sea una experiencia
                gratificante. <br>

                A Talento Tech, gracias por crear un ambiente en el que cada miembro se siente valorado y apoyado. La
                flexibilidad y comprensión que he encontrado aquí me han permitido seguir adelante con mis sueños y
                responsabilidades sin sentirme abrumado. <br>

                A todos, de corazón, gracias por ser una fuente constante de apoyo y motivación. No podría haberlo
                logrado sin ustedes.</P>
        </div>

    </div>

    <audio src="../audio/piano.mp3" loop controls>
        <p>If you are reading this, it is because your browser does not support the audio element.     </p>
        </audio>

    <!-- <audio src="./audio/piano.mp3" autoplay ></audio> -->
    <!-- <audio id="background-music" autoplay loop>
    <source src="audio/piano.mp3" type="audio/mp3">
</audio> -->
    <script src="../public/script.js"></script>
</body>

</html>