<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotelParaisoReal</title>
    <link rel="stylesheet" href="../public/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/style_habitaciones.css" />

    <script src="https://kit.fontawesome.com/62d27a947a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menu">
        <a href="./index.html">Inicio</a>
        <a href="#se1">Habitaciones</a>
        <a href="./servicios.html">Servicios</a>
        <a href="./contacto.html">Contacto</a>
        <a href="./signIn.html">Reserva</a>
        <a href="./agradecimiento.html">Agradecimientos</a>
    </div>

    <div id="inicio" class="inicio">
        <h1>Habitaciones</h1>
    </div>
    <div id="caracteristicas" class="caracteristicas">
        <p><img src="../images/todo-incluido.png" class="icon" />Todo incluido</p>
        <p><img src="../images/focos.png" class="icon" />Shows Nocturnos</p>
        <p><img src="../images/nadando.png" class="icon" />Piscina</p>
        <p>
            <img src="../images/puesta-de-sol.png" class="icon" />Habitaciones vista
            al mar
        </p>
    </div>

    <!-- Encabezado -->

    <div class="subencabezado">
        <header class="text-center" id="se1">
        </header>
    </div>

    <!-- Contenedor de habitaciones -->
    <div class="container">
        <!-- habitacion Secilla -->
        <div class="row">
            <div class="col-lg-6">
                <img src="../images/sencilla.jpg" class="img-fluid" alt="habitaciones 1" />
            </div>
            <div class="col-lg-6" id="info_habitacion">
                <h3>Habitación <em>Sencilla</em></h3>
                <p class="p_habitacion">
                    Este tipo de habitación con vista interior o vista al mar cuenta con
                    una cama sencilla, aire acondicionado, TV por cable, internet y baño
                    privado con ducha y artículos de aseo incluidos.
                </p>
                <div class="row">
                    <div class="col-4">
                        <p>
                            <i class="fa-solid fa-bed"></i></i><span> 1 cama sencilla</span>
                        </p>
                        <p><i class="fa-solid fa-shower"></i><span> Baño</span></p>
                        <p>
                            <i class="fa-solid fa-binoculars"></i><span> Vista interior o Vista al mar</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-tv"></i><span> Tv por cable/Satelital</span>
                        </p>
                        <p><i class="fa-solid fa-martini-glass"></i><span> Mini bar ($)</span></p>
                    </div>
                    <div class="col-4">
                        <p><i class="fa-solid fa-mattress-pillow"></i><span> Escritorio</span></p>
                        <p>
                            <i class="fa-solid fa-wifi"></i><span> Internet Inalámbrico</span>
                        </p>
                        <p><i class="fa-solid fa-phone"></i><span> Teléfono</span></p>
                        <p><i class="fa-solid fa-shield"></i><span> Caja fuerte</span></p>
                        <p><i class="fa-solid fa-soap"></i><span> Lavanderia ($)</span></p>
                    </div>
                    <div class="col-4">
                        <p>
                            <i class="fa-solid fa-elevator"></i><span> Ascensor de acceso</span>
                        </p>
                        <p><i class="fa-solid fa-water"></i><span> Toallas</span></p>
                        <p><i class="fa-solid fa-bars-staggered"></i><span> Ropa de cama</span></p>
                        <p>
                            <i class="fa-solid fa-wind"></i><span> Aire acondicionado</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-bell-concierge"></i><span> Servicio de habitaciones</span>
                        </p>
                    </div>
                </div>

                <!-- <button type="button" class="boton">Reserva ya</button> -->
                <div id="botonHabitacion" class="botonHabitacion">
                    <a href="./signIn.html" class="boton">Reservar ya</a>
                </div>

            </div>
        </div>
        <!-- habitacion Doble -->
        <div class="row">
            <div class="col-lg-6" id="info_habitacion">
                <h3>Habitación <em>Doble</em></h3>
                <p class="p_habitacion">
                    Esta habitación con vista al mar o vista interior consta de una cama doble, Tv por cable, aire
                    acondicionado, internet y baño privado con ducha y artículos de aseo incluidos.
                </p>
                <div class="row">
                    <div class="col-4">
                        <p>
                            <i class="fa-solid fa-bed"></i></i><span> 1 cama doble</span>
                        </p>
                        <p><i class="fa-solid fa-shower"></i><span> Baño</span></p>
                        <p>
                            <i class="fa-solid fa-binoculars"></i><span> Vista interior o Vista al mar</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-tv"></i><span> Tv por cable/Satelital</span>
                        </p>
                        <p><i class="fa-solid fa-martini-glass"></i><span> Mini bar ($)</span></p>
                    </div>
                    <div class="col-4">
                        <p><i class="fa-solid fa-mattress-pillow"></i><span> Escritorio</span></p>
                        <p>
                            <i class="fa-solid fa-wifi"></i><span> Internet Inalámbrico</span>
                        </p>
                        <p><i class="fa-solid fa-phone"></i><span> Teléfono</span></p>
                        <p><i class="fa-solid fa-shield"></i><span> Caja fuerte</span></p>
                        <p><i class="fa-solid fa-soap"></i><span> Lavanderia ($)</span></p>
                    </div>
                    <div class="col-4">
                        <p>
                            <i class="fa-solid fa-elevator"></i><span> Ascensor de acceso</span>
                        </p>
                        <p><i class="fa-solid fa-water"></i><span> Toallas</span></p>
                        <p><i class="fa-solid fa-bars-staggered"></i><span> Ropa de cama</span></p>
                        <p>
                            <i class="fa-solid fa-wind"></i><span> Aire acondicionado</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-bell-concierge"></i><span> Servicio de habitaciones</span>
                        </p>
                    </div>
                </div>

                <!-- <button type="button" class="boton">Reserva ya</button> -->
                <div id="botonHabitacion" class="botonHabitacion">
                    <a href="./signIn.html" class="boton">Reservar ya</a>
                </div>


            </div>
            <div class="col-lg-6">
                <img src="../images/doble.jpg" class="img-fluid" alt="habitaciones 1" />
            </div>
        </div>
        <!-- habitacion Triple -->
        <!-- <div class="row">
            <div class="col-lg-6">
                <img src="../images/triple.jpg" class="img-fluid" alt="habitaciones 1" />
            </div>
            <div class="col-lg-6" id="info_habitacion">
                <h3>Habitación <em>Triple</em></h3>
                <p class="p_habitacion">
                    Habitación con vista interior o vista al mar de una cama doble y una cama sencilla o tres camas
                    sencillas, aire acondicionado, TV por cable, internet y baño privado con ducha y artículos de aseo
                    incluidos.
                </p>
                <div class="row">
                    <div class="col-4">
                        <p>
                            <i class="fa-solid fa-bed"></i></i><span> 1 Cama doble y 1 Sencilla

                                o 3 Camas sencillas</span>
                        </p>
                        <p><i class="fa-solid fa-shower"></i><span> Baño</span></p>
                        <p>
                            <i class="fa-solid fa-binoculars"></i><span> Vista interior o Vista al mar</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-tv"></i><span> Tv por cable/Satelital</span>
                        </p>
                        <p><i class="fa-solid fa-martini-glass"></i><span> Mini bar ($)</span></p>
                    </div>
                    <div class="col-4">
                        <p><i class="fa-solid fa-mattress-pillow"></i><span> Escritorio</span></p>
                        <p>
                            <i class="fa-solid fa-wifi"></i><span> Internet Inalámbrico</span>
                        </p>
                        <p><i class="fa-solid fa-phone"></i><span> Teléfono</span></p>
                        <p><i class="fa-solid fa-shield"></i><span> Caja fuerte</span></p>
                        <p><i class="fa-solid fa-soap"></i><span> Lavanderia ($)</span></p>
                    </div>
                    <div class="col-4">
                        <p>
                            <i class="fa-solid fa-elevator"></i><span> Ascensor de acceso</span>
                        </p>
                        <p><i class="fa-solid fa-water"></i><span> Toallas</span></p>
                        <p><i class="fa-solid fa-bars-staggered"></i><span> Ropa de cama</span></p>
                        <p>
                            <i class="fa-solid fa-wind"></i><span> Aire acondicionado</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-bell-concierge"></i><span> Servicio de habitaciones</span>
                        </p>
                    </div>
                </div>

                <button type="button" class="boton">Reserva ya</button>

            </div>
        </div> -->
        <!-- habitacion Familiar o cuadruple -->
        <div class="row">

            <div class="col-lg-6">
                <img src="../images/cuadruple.jpg" class="img-fluid" alt="habitaciones 1" />
            </div>
            <div class="col-lg-6" id="info_habitacion">
                <h3>Habitación <em>Familiar o Cuádruple</em></h3>
                <p class="p_habitacion">
                    Habitación con vista interior o vista al mar de dos camas dobles o cuatro camas sencillas, aire
                    acondicionado, TV por cable, internet y baño privado con ducha y artículos de aseo incluidos.
                    Especialmente para familiar o para grupo de amigos.
                </p>
                <div class="row">
                    <div class="col-4">
                        <p>
                            <i class="fa-solid fa-bed"></i></i><span> 2 Cama doble o 4 Sencillas</span>
                        </p>
                        <p><i class="fa-solid fa-shower"></i><span> Baño</span></p>
                        <p>
                            <i class="fa-solid fa-binoculars"></i><span> Vista interior o Vista al mar</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-tv"></i><span> Tv por cable/Satelital</span>
                        </p>
                        <p><i class="fa-solid fa-martini-glass"></i><span> Mini bar ($)</span></p>
                    </div>
                    <div class="col-4">
                        <p><i class="fa-solid fa-mattress-pillow"></i><span> Escritorio</span></p>
                        <p>
                            <i class="fa-solid fa-wifi"></i><span> Internet Inalámbrico</span>
                        </p>
                        <p><i class="fa-solid fa-phone"></i><span> Teléfono</span></p>
                        <p><i class="fa-solid fa-shield"></i><span> Caja fuerte</span></p>
                        <p><i class="fa-solid fa-soap"></i><span> Lavanderia ($)</span></p>
                    </div>
                    <div class="col-4">
                        <p>
                            <i class="fa-solid fa-elevator"></i><span> Ascensor de acceso</span>
                        </p>
                        <p><i class="fa-solid fa-water"></i><span> Toallas</span></p>
                        <p><i class="fa-solid fa-bars-staggered"></i><span> Ropa de cama</span></p>
                        <p>
                            <i class="fa-solid fa-wind"></i><span> Aire acondicionado</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-bell-concierge"></i><span> Servicio de habitaciones</span>
                        </p>
                    </div>
                </div>

                <div id="botonHabitacion" class="botonHabitacion">
                    <a href="./signIn.html" class="boton">Reservar ya</a>
                </div>

                <!-- <button type="button" class="boton">Reserva ya</button> -->

            </div>

        </div>

    </div>

    <script src="./js/bootstrap.bundle.min.js"></script>





</body>

</html>