<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HotelParaisoReal</title>
  <link rel="stylesheet" href="../css/style_index.css" />
</head>

<body>
  <div class="menu">
    <a href="#inicio">Inicio</a>
    <a href="#habitacionesbody">Habitaciones</a>
    <a href="#servicios">Servicios</a>
    <a href="./contacto.html">Contacto</a>
    <a href="#reserva">Reserva</a>
  </div>

  <div id="inicio" class="inicio">
    <h1>Bienvenido a nuestro Hotel Paraiso Real</h1>
  </div>
  <div id="caracteristicas" class="caracteristicas">
    <p><img src="../images/todo-incluido.png" class="icon" />Todo incluido</p>
    <p><img src="../images/focos.png" class="icon" />Shows Nocturnos</p>
    <p><img src="../images/nadando.png" class="icon" />Piscina</p>
    <p>
      <img src="../images/puesta-de-sol.png" class="icon" />Habitaciones vista
      al mar
    </p>
  </div>
  <div id="eslogan" class="eslogan">
    <p><b>Hotel Paraiso Real</b></p>
    <p>Un paraiso terrenal...</p>
    <p>
      En el hotel Paraiso Real encontraras tu lugar perfecto para descansar y
      disfrutar tus vacaciones como si estuvieras en un paraiso. ¡Disfrutaras
      de una experiencia inigualable!.
    </p>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <img src="../images/cuarto.png" />
      <div class="text"><a href="./habitaciones.html">Habitaciones</a></div>
    </div>
    <div class="grid-item">
      <img src="../images/servicios.jfif" />
      <div class="text"><a href="#servicios">Servicios</a></div>
    </div>
    <div class="grid-item">
      <img src="../images/hotel.png" />
      <div class="text"><a href="#hotel">Hotel</a></div>
    </div>
  </div>
  <div id="habitacionesbody" class="habitacionesbody">
    <div id="habitacionSencilla" class="habitacion">
      <div id="habitacionizquierda" class="habitacionizquierda">
        <img src="../images/habitacionsencilla.png">
      </div>
      <div id="habitacionderecha" class="habitacionderecha">
        <div id="textoHabitacion" class="textoHabitacion">
          <h3>Habitación sencilla</h1>
            <p>La habitación sencilla ofrece una cama sencilla, aire acondicionado y televisión. Dispone de un baño
              privado con
              ducha y elementos de aseo personal. Es un espacio cómodo y acogedor, perfecto para descansar después de un
              día
              de actividades.</p>
        </div>
        <div id="botonHabitacion" class="botonHabitacion">
          <a href="./habitaciones.html" class="boton">Más información</a>
        </div>
      </div>

    </div>
    <div id="habitacionDoble" class="habitacion">
      <div id="habitacionizquierda" class="habitacionizquierda">
        <img src="../images/habitaciondoble.png">
      </div>
      <div id="habitacionderecha" class="habitacionderecha">
        <div id="textoHabitacion" class="textoHabitacion">
          <h3>Habitación doble</h1>
            <p>La habitación doble ofrece una cama doble, aire acondicionado y televisión. Dispone de un baño privado
              con
              ducha y elementos de aseo personal. Es un espacio cómodo y acogedor, perfecto para descansar después de un
              día
              de actividades.</p>
        </div>
        <div id="botonHabitacion" class="botonHabitacion">
          <a href="./habitaciones.html" class="boton">Más información</a>
        </div>
      </div>
    </div>

    <div id="habitacionFamiliar" class="habitacion">
      <div id="habitacionizquierda" class="habitacionizquierda">
        <img src="../images/habitacionfamiliar.png">
      </div>
      <div id="habitacionderecha" class="habitacionderecha">
        <div id="textoHabitacion" class="textoHabitacion">
          <h3>Habitación familiar</h1>
            <p>La habitación familiar ofrece dos camas dobles o 4 camas sencillas, aire acondicionado y televisión.
              Dispone de un baño privado con ducha y elementos de aseo personal. Es un espacio cómodo y acogedor,
              perfecto para descansar después de un día de actividades.</p>
        </div>
        <div id="botonHabitacion" class="botonHabitacion">
          <a href="./habitaciones.html" class="boton">Más información</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>