<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotelParaisoReal</title>
    <link rel="stylesheet" href="../public/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/style_habitaciones.css" />

    <script src="https://kit.fontawesome.com/62d27a947a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menu">
        <a href="./index.html">Inicio</a>
        <a href="./habitaciones.html">Habitaciones</a>
        <a href="#se1">Servicios</a>
        <a href="./contacto.html">Contacto</a>
        <a href="./signIn.html">Reserva</a>
        <a href="./agradecimiento.html">Agradecimientos</a>
    </div>

    <div id="inicio" class="inicio">
        <h1>Servicios</h1>
    </div>
    <div id="caracteristicas" class="caracteristicas">
        <p><img src="../images/todo-incluido.png" class="icon" />Todo incluido</p>
        <p><img src="../images/focos.png" class="icon" />Shows Nocturnos</p>
        <p><img src="../images/nadando.png" class="icon" />Piscina</p>
        <p>
            <img src="../images/puesta-de-sol.png" class="icon" />Habitaciones vista
            al mar
        </p>
    </div>

    <!-- Encabezado -->

    <div class="subencabezado">
        <header class="text-center" id="se1">
        </header>
    </div>

    <!-- Contenedor de servicios -->
    <div class="container">
        <!-- Piscina -->
        <div class="row">
            <div class="col-lg-6">
                <img src="../images/piscina.jpg" class="img-fluid" alt="habitaciones 1" />
            </div>
            <div class="col-lg-4" id="info_habitacion">
                <h3>Piscina</h3>
                <p class="p_habitacion">
                    El Hotel Paraiso Real pone a tu disposición de una piscinas para relajarte bajo
                    el sol durante tus vacaciones. Ofrecemos servicio de toallas.
                </p>
                <div class="row">
                    <div class="col-4">
                        <p><i class="fa-solid fa-shower"></i><span> Baño</span></p>
                        <p><i class="fa-solid fa-martini-glass"></i><span> Bar ($)</span></p>
                        <p><i class="fa-solid fa-water"></i><span> Toallas</span></p>
                        <p><i class="fa-solid fa-bars-staggered"></i><span> Ropa de cama</span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <!-- Restaurante Paraiso Real -->
        <div class="row">
            <div class="col-lg-6" id="info_habitacion">
                <h3>Restaurante <em>Paraiso Real</em></h3>
                <p class="p_habitacion">
                    Descubra en nuestro restaurante la mejor fusión de comida típica isleña, platos nacionales e
                    internacionales, ofrecemos espacios confortables en nuestros restaurantes. Nuestro buffet
                    fusiona estilos nacionales e internacionales con gran variedad de opciones
                    para todos los gustos.
                    <br>Desayuno 7:00am a 10:00am
                    <br>Almuerzo 12:30pm a 2:30pm
                    <br>Cena 7:00pm a 9:30pm
                </p>
                <div class="row">

                    <p><i class="fa-solid fa-wifi"></i><span> Internet Inalámbrico</span></p>
                    <p><i class="fa-solid fa-phone"></i><span> Teléfono</span></p>
                    <p> <i class="fa-solid fa-wind"></i><span> Aire acondicionado</span></p>
                    <p><i class="fa-solid fa-bell-concierge"></i><span> Servicio de habitaciones</span></p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="../images/restaurante.jpg" class="img-fluid" alt="habitaciones 1" />
            </div>
        </div>

        <!-- Restaurante Terraza -->
        <div class="row">

            <div class="col-lg-6">
                <img src="../images/restauranteterraza.jpg" class="img-fluid" alt="habitaciones 1" />
            </div>
            <div class="col-lg-6" id="info_habitacion">
                <h3>Restaurante <em>Terraza</em></h3>
                <p class="p_habitacion">
                    SNACKS (Para plan All Inclusive/Todo incluido)
                    Mañana 11:00am a 12:00pm
                    Tarde 3:00pm a 6:00pm.
                </p>
                <div class="row">
                    <div class="col-4">
                        <p><i class="fa-solid fa-shower"></i><span> Baño</span></p>
                        <p><i class="fa-solid fa-wifi"></i><span> Internet Inalámbrico</span></p>
                        <p><i class="fa-solid fa-martini-glass"></i><span> Bar ($)</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Show Nocturno -->
        <div class="row">
            <div class="col-lg-6" id="info_habitacion">
                <h3>Show <em>Nocturno</em></h3>
                <p class="p_habitacion">
                    Estos shows se realizan todos los días de 8:30pm a 10:00pm

                    <br>Ofrecemos temáticas diferentes para nuestros shows, dentro de los cuales destacamos:
                    <br>Colombia - África - World Fantasy - Aloha
                    <br>Noche de estrellas - Crucero - Bar Show - Navidad
                </p>
            </div>
            <div class="col-lg-6">
                <img src="../images/shownocturno.JPG" class="img-fluid" alt="habitaciones 1" />
            </div>
        </div>

        <!-- Parque Infantil -->
        <div class="row">

            <div class="col-lg-6">
                <img src="../images/parqueinfantil.jpg" class="img-fluid" alt="habitaciones 1" />
            </div>
            <div class="col-lg-6" id="info_habitacion">
                <h3>Parque <em>Infantil</em></h3>
                <p class="p_habitacion">
                    Diversión para los pequeños, el parque infantil le ofrece a los pequeños,
                    un espacio divertido y seguro del Hotel. Mientras ellos se divierten
                    usted disfruta de un agradable descanso sin perderlos de vista.
                </p>

            </div>


        </div>
    </div>

    </div>
    </div>

    <script src="./js/bootstrap.bundle.min.js"></script>





</body>

</html>